* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background-color: #1f2937;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header p {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header__link-text {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__link-text a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 30px;
}

/* Hero */
.hero {
  background-color: #1f2937;
  display: flex;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

/* Container */
.hero__container {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 66%;
}

/* Content */
.hero__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

.hero__content h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero__content h2 {
  font-size: 18px;
  font-weight: lighter;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.hero__content button {
  border: 0;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 17px;
  font-weight: bold;
  width: 120px;
  height: 35px;
  border-radius: 10px;
}

/* Image */
.hero__image {
  display: flex;
  flex: 1;
}

.hero__image img {
  max-height: 400px;
  flex: 1 1 460px;
}
