* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  background-color: #111827;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10%;
  border-bottom: 1px solid #1f2937;
}

.logo {
  max-width: 220px;
}

.header p {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header__link-text {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__link-text a {
  text-decoration: none;
  margin-left: 32px;
}

.header__link-text .link:hover {
  text-decoration: underline;
}

.header__link-text .link {
  font-size: 18px;
  color: #e5e7eb;
  cursor: pointer;
}

/* Hero */
.hero {
  background-color: #111827;
  min-height: 500px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

/* Content */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 3px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-content p {
  font-size: 18px;
  font-weight: lighter;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.hero-content button {
  border: 0;
  background-color: #f9faf8;

  font-size: 15px;
  font-weight: bold;

  width: 120px;
  height: 40px;
  border-radius: 0.5rem;

  transition-duration: 0.4s;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #f9faf8a1;
}

/* Image */
.hero__image {
  display: flex;
}

.hero__image img {
  max-width: 500px;
  height: auto;
  border-radius: 1rem;
}

/* Content */

/* Top-content*/
.content__top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  padding: 3rem;
}

.content__top-container h2 {
  font-size: 36px;
  font-weight: 800;
  color: #111827;
  margin-bottom: 3rem;
}

.content__boxes {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-content {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 5px;
}

.box-text {
  text-align: center;
}

/* Mid-content*/
.content__mid-container {
  background-color: #e5e7eb;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  display: flex;
  flex-direction: column;
}
.quote .text {
  color: #111827;
  font-size: 36px;
  font-style: italic;
}

.quote .author {
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
}

/* Bot-content */
.content__bot-container {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__bot-container .container {
  background: #3882f6;
  width: 80%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
}

.container .card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 15%;
}

.card .content {
  color: #e5e7eb;
}
.content .title {
  font-size: 30px;
  font-weight: 800;
}

.content button {
  height: 35px;
  width: 110px;
  align-self: center;

  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 5px;

  color: #f9faf8;
  font-weight: bold;
}

/* Footer */
